
.forgot-password-container {
    height: 120vh;
    background-image: linear-gradient(to right, #4FC4CB, #AF71B0);
}
.forgot-password-container form {
    padding: 150px 0;
}
.forgot-password-form {
    max-width: 512px;
    overflow: hidden;

}
.forgot-password-form h1 {
    margin: 20px 0;
    color: var(--T, #313131);
    font-family: 'Poppins';
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: left;
}
.forgot-password-description {
    margin-top: 16px;
    color: #fff;
    text-align: left;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}
.forgot-password-form label {
    margin: 40px 0 10px ;
    color: #1C1B1F;
    font-family: 'Poppins';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.forgot-password-form input {
    margin-bottom: 32px;
    padding: 16px 24px;
    background: #F7F7F8;
    border: none;
    border-radius: 8px;
    color: #656567;
    font-family: 'Poppins';
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}
.backtoLogin {
    margin-left: 15px;
    position: relative;
    margin-bottom: 18px;
    color:  #fff;
    font-family: 'Poppins';
    line-height: 22px;
    font-size: 14px;
    font-weight: 500;
}
.back-arrow {
    position: absolute;
    top: 3.5px;
    font-size: 14px;
    left: -15px;
    color: #fff;
}
.backtoLogin:hover {
    cursor: pointer;
}
.visitorbtn ,.forgot-password-form .submitbtn ,.cancelbtn  ,.verifybtn ,.resendbtn{
    padding: 14px 0;
    background-color: #F7F7F8;
    color: #262626;
    font-family: 'Be Vietnam Pro';
    font-weight: 500;
    text-align: center;
    font-size: 16px;
    line-height: 22px; 
    border-radius: 8px;
    border: 2px solid #F1F1F3;
}
.verify {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.verifybtn , .resendbtn {
    width: 40%;
}
.submitbtn {
    margin-bottom: 10px;
}
.visitorbtn:hover ,.forgot-password-form .verifybtn:hover ,.submitbtn:hover ,.resendbtn:hover ,.cancelbtn:hover {
    cursor: pointer;
    color: #F7F7F8;
    background-color: #515DEF;
    border: 2px solid #F7F7F8;
    transition: all 0.3s ease-in-out;
}
#option {
    color: var(--T, #313131);
    font-family: 'Poppins';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

#option {
    margin: 24px 0 !important;
    position: relative;
    color: #E4E4E7;
    left: 65px;
}
#option::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 50%;
    width: 45%;
    height: 1px;
    background-color: #E4E4E7;
}
#option::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 50%;
    width: 45%;
    height: 1px;
    background-color: #E4E4E7;
}
.newpassword {
    width: 90%;
    margin-bottom: 10px !important;
}